{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                {% if app.request.get('p') == '1' %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> Your secret has been removed.
                    </div>
                {% endif %}
                <div class="jumbotron">
                    <h1>Share a secret</h1>
                    <p>A secret sharing mechanism that operates on the idea that sharing a temporary link to sensitive information is better than having the sensitive information itself persist in email, chat, or any other insecure communications channel.</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ path('new_secret') }}" role="button">Get Started &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>How It Works</h3>
                <ol>
                    <li>Enter the secret to share, the number of days before expiring, and the view limit.</li>
                    <li>Receive a unique link to the secret, which can be shared.</li>
                    <li>Once the link expires or the view limit is surpassed, the secret is destroyed.</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="enjoy">
                    <p>Enjoy!</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}